@charset "UTF-8";
/* CSS Document */
* {margin: 0; padding: 0; }

body {background-color: grey; }

.header {background-color: crimson; color: white; text-align: center; }

.footer {background-color: crimson; color: white; text-align: center; }

.primero {background-color: indianred; }

.segundo {background-color: darkgoldenrod; }